<!DOCTYPE html>
<html>
<head>
  <title>EventCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
  window.currentDate = '<%= Date.today.to_s(:db) %>';
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
